$main: rgb(21, 27, 71);
$teal: rgb(100, 255, 218);
$lightBlue: rgb(230, 241, 255);
$gray: rgb(136, 146, 176);
$fifth: rgb(23, 42, 69);
$navy: rgb(10, 25, 47);
$bg: #d1e8e2;
$darkBg: #bed1cc;
$nav: #14a76c;
$accent: #e43d40;

$rale: 'Raleway', sans-serif;
$mons: 'Montserrat', sans-serif;

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @media screen and (max-width: 375px) {
    padding: 1rem;
    margin-left: 14rem;
  }
  h3 {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 13rem;
    width: 100%;
    white-space: nowrap;
    font-size: 5rem;
    font-family: $rale;
    color: $navy;
    @media screen and (max-width: 375px) {
      font-size: 3.5rem;
      margin-left: 7rem;
    }
    &:before {
      margin-right: 10px;
      font-weight: normal;
      //color: $first;
      font-size: 2rem;
      position: relative;
      bottom: 4px;
    }
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 300px;
      background-color: $navy;
      position: relative;
      top: -5px;
      margin-left: 20px;
      @media screen and (max-width: 375px) {
        display: none;
      }
    }
  }
}

.contact-content {
  @media screen and (max-width: 375px) {
    padding: 2.5rem;
  }
  p {
    color: $navy;
    font-family: $rale;
    font-size: 3rem;
    width: 500px;
    padding: 10px;
    text-align: center;
    margin: 15rem 0 0 17rem;
    @media screen and (max-width: 375px) {
      font-size: 1.4rem;
      margin: 0;
      margin-bottom: 5rem;
      width: 300px;
    }
  }
}
button {
  font-size: 24px;
  text-align: center;
  margin: 5rem 0 10rem -26rem;
  border: 2px solid $navy;
  width: 130px;
  padding: 10px;
  border-radius: 10px;
  background-color: $bg;
  color: $navy;
  &:hover {
    background-color: $accent;
    color: $bg;
    cursor: pointer;
  }
  @media screen and (max-width: 1024px) {
    margin: 5rem 0 10rem 14rem;
  }
  @media screen and (max-width: 375px) {
    margin: 0 0 8rem 8rem;
  }
}
